@font-face {
  font-family: 'Stalemate';
  font-style: normal;
  font-weight: 400;
  src: local('Stalemate'), local('Stalemate-Regular'), url(http://themes.googleusercontent.com/static/fonts/stalemate/v2/ILXfSNYxooD2TPt48NlaP7O3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}

@font-face {
  font-family: 'Voltaire';
  font-style: normal;
  font-weight: 400;
  src: local('Voltaire'), url(http://themes.googleusercontent.com/static/fonts/voltaire/v4/ag0Q3_6hjQFerbCN2Eewq3YhjbSpvc47ee6xR_80Hnw.woff) format('woff');
}