$figure-height: 200px;
$figure-width: 200px;
$cirle-height: 125px;
$cirle-width: 125px;
$cirle-radius: 50%;

@mixin circle {
  border-radius: $cirle-radius;
  height: $cirle-height;
  width: $cirle-width;
  margin-top: -($cirle-height / 2);
  margin-left: -($cirle-width / 2);
}




