$figure-height: 200px;
$figure-width: 200px;
$cirle-height: 125px;
$cirle-width: 125px;
$cirle-radius: 50%;

// Saffron
$translateY-distance: 5px;

// Theme
$main-color: #c0392b;
$secondary-color: #231f20;
$light-spacing: 10px;
$medium-spacing: 30px;
$large-spacing: 50px;

// Media queries
$tablet: 600px;
$desktop: 900px;
