@import "variables";
@import "saffron/saffron";
@import "reset";
@import "fonts";

@mixin circle {
  border-radius: $cirle-radius;
  height: $cirle-height;
  width: $cirle-width;
  margin-top: -($cirle-height / 2);
  margin-left: -($cirle-width / 2);
}

@mixin makeSquare {
  border-radius: 3px;
}

@mixin makeCircle {
  border-radius: 50%;
}

body {
  padding: 0 $medium-spacing;
  background: #fff;
  @extend %libre-baskerville;
}

::selection {
  background: lighten($main-color, 35%);
  }
::-moz-selection {
  background: lighten($main-color, 35%);
}

nav,
header {
  margin: $large-spacing 0;
  text-align: center;
}

section {
  width: 100%;
  margin: 0 auto;
  padding: $large-spacing 0;
  @media screen and (min-width: $tablet) {
    width: 80%;
  }
  @media screen and (min-width: $desktop) {
    width: 70%;
  }
}

footer {
  margin: $medium-spacing 0 0;
  @media screen and (min-width: $tablet) {
    text-align: center;
  }
}

a {
  position: relative;
  color: $secondary-color;
  text-decoration: none;
  &::after {
    content: '';
    position: absolute;
    bottom: -15px;
    left: 0;
    width: 100%;
    height: 1px;
    opacity: 0;
    background: $secondary-color;
    @include transition(all 0.5s);
  }
  &:hover {
    &::after {
      bottom: -5px;
      opacity: 1;
    }
  }
}

p {
  margin-bottom: $medium-spacing;
  line-height: 1.45em;
  opacity: 0;
  @include fadeIn($delay: 1s);
  &:last-of-type {
    margin-bottom: 0;
    @include fadeIn($delay: 1.5s);
  }
}

.inline-list {
  .list-item {
    display: inline;
    margin-right: 20px;
    @extend %libre-baskerville;
    &:last-of-type {
      margin-right: 0;
    }
  }
}

.title,
.sub-title {
  text-align: center;
}

.title {
  padding: $light-spacing 0;
  @extend %maven-pro;
  font-size: 60px;
  text-transform: uppercase;
}

.sub-title {
  @extend %libre-baskerville;
  font-style: italic;
}

.saffron {
  height: $large-spacing;
  width: $large-spacing;
  margin: 0 auto;
  background: transparent;
  border: 5px solid $main-color;
  border-radius: 50%;
  &:hover {
    cursor: pointer;
  }
}

//Entrances
.c-1 { @include turnDownIn(); }

.c-2 { @include popIn(); }

.c-3 { @include dropIn(); }

.c-4 { @include riseIn(); }

.c-5 {
  @include makeSquare();
  @include newspaper();
}

// Exits
.c-6 {
  @include makeSquare();
  @include compressDown($fill-mode: none);
}

.c-7 {
  @include makeSquare();
  @include explode($fill-mode: none);
}

.c-8 { @include slideOutLeft($fill-mode: none); }

.c-9 { @include slideOutRight($fill-mode: none); }

.c-10 { @include fadeOutZoomBig($fill-mode: none); }

// In Place
.c-11 {
  @include makeSquare();
  @include float();
}

.c-12 { @include ping($count: 3); }

.c-13 { @include quiver(); }

.c-14 { @include pulsate(); }

.c-15 { @include sunrise($fill-mode: none); }

