$translateY-distance: 5px;
@import "saffron/saffron";
@import "reset";
@import "fonts";
@import "variables";

body {
  background: #fff;
}

a {
  position: relative;
  color: #231f20;
  text-decoration: none;
  &::after {
    content: '';
    position: absolute;
    bottom: -15px;
    left: 0;
    width: 100%;
    height: 1px;
    opacity: 0;
    background: #231f20;
    @include transition(all 0.5s);
  }
  &:hover {
    &::after {
      bottom: -5px;
      opacity: 1;
    }
  }
}

.container {
  font-size: 32px;
  color: #231f20;
}

nav,
header {
  margin: 50px 0;
  text-align: center;
}

.inline-list {
  .list-item {
    display: inline;
    margin-right: 20px;
    @extend %libre-baskerville;
    &:last-of-type {
      margin-right: 0;
    }
  }
}

.title,
.sub-title {
  text-align: center;
}

.title {
  padding: 10px 0;
  @extend %maven-pro;
  font-size: 60px;
  text-transform: uppercase;
}

.sub-title {
  @extend %libre-baskerville;
  font-style: italic;
}

.saffron {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: 0 auto;
  background: transparent;
  border: 5px solid #c0392b;
}


//Entrances
.c-1 { @include turnDownIn(); }

.c-2 { @include newspaper(); }

.c-3 { @include popIn(); }

// Exits
.c-4 { @include explode($fill-mode: none); }

.c-5 { @include poof($fill-mode: none); }

.c-6 { @include compressDown($fill-mode: none); }

// In Place
.c-7 { @include float(); }

.c-8 {
  @include ping($count: 3, $delay: 1s);
  @include circle;
}

.c-9 {
  @include aroundTheWorld($count: 3, $delay: 1s, $fill-mode: backwards);
  @include circle;
}

.c-10 { @include shake(); }

.c-11 { @include teeter(); }

.c-12 { @include quiver(); }

.c-13 { @include sway(); }

.c-14 { @include spin(); }

.c-15 { @include pulsate(); }

.c-16 {
  @include squareDance();
  margin-top: -($figure-height / 1.2);
  margin-left: -($figure-width);
}

.c-17 {
  @include sunrise();
  @include circle;
}




