@import "saffron/saffron";
@import "fonts";
@import "variables";

body {
  background: lighten(#ECF0F1, 2%);
  color: #8C9899;
}

.container {
  font-size: 32px;
  color: lighten(#8C9899, 10%);
}

.title {
  text-align: center;
  font-family: 'Stalemate', cursive;
  font-size: 120px;
}

.bunny {
  position: relative;
  margin: 100px auto 0;
  height: 110px;
  width: 100px;
  border-radius: 50%;
  background: desaturate(pink, 30%);
  @include transition(all 0.5s ease);
  &::before,
  &::after {
    content: '';
    position: absolute;
    top: -60px;
    height: 100px;
    width: 32px;
    border-radius: 15px;
    background: inherit;
  }
 &::before {
   left: 0;
   -webkit-transform: rotate(-15deg);
 }
 &::after {
   right: 0;
   -webkit-transform: rotate(15deg);
 }
}

.eye,
.mouth {
  position: absolute;
  bottom: 100px;
  width: 100%;
  text-align: center;
  font-family: 'Voltaire', sans-serif;
  font-size: 24px;
  color: lighten(black, 40%);
}

//Entrances
.c-1 {
  @include turnDownIn();
}

.c-2 { @include newspaper(); }

.c-3 { @include popIn(); }

// Exits
.c-4 {
  @include explode($fill-mode: none);
}

.c-5 {
  @include poof($fill-mode: none);
}

.c-6 {
  @include compressDown($fill-mode: none);
}

// In Place
.c-7 {
  @include float();
}

.c-8 {
  @include ping($count: 3, $delay: 1s);
  @include circle;
}

.c-9 {
  @include aroundTheWorld($count: 3, $delay: 1s, $fill-mode: backwards);
  @include circle;
}

.c-10 {
  @include shake();
}

.c-11 {
  @include teeter();
}

.c-12 {
  @include quiver();
}

.c-13 {
  @include sway();
}

.c-14 {
  @include spin();
}

.c-15 {
  @include pulsate();
}

.c-16 {
  @include squareDance();
  margin-top: -($figure-height / 1.2);
  margin-left: -($figure-width);
}

.c-17 {
  @include sunrise();
  @include circle;
}




