@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateZ(0);
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateZ(0);
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateZ(0);
        -ms-transform: translateZ(0);
            transform: translateZ(0);
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(1.334em) translateZ(0);
            transform: translateY(1.334em) translateZ(0);
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(1.334em) translateZ(0);
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(1.334em) translateZ(0);
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(1.334em) translateZ(0);
        -ms-transform: translateY(1.334em) translateZ(0);
            transform: translateY(1.334em) translateZ(0);
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-1.334em) translateZ(0);
            transform: translateY(-1.334em) translateZ(0);
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-1.334em) translateZ(0);
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-1.334em) translateZ(0);
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-1.334em) translateZ(0);
        -ms-transform: translateY(-1.334em) translateZ(0);
            transform: translateY(-1.334em) translateZ(0);
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-1.334em) translateZ(0);
            transform: translateX(-1.334em) translateZ(0);
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-1.334em) translateZ(0);
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-1.334em) translateZ(0);
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-1.334em) translateZ(0);
        -ms-transform: translateX(-1.334em) translateZ(0);
            transform: translateX(-1.334em) translateZ(0);
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(1.334em) translateZ(0);
            transform: translateX(1.334em) translateZ(0);
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(1.334em) translateZ(0);
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(1.334em) translateZ(0);
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(1.334em) translateZ(0);
        -ms-transform: translateX(1.334em) translateZ(0);
            transform: translateX(1.334em) translateZ(0);
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeInZoom {
  0% {
    opacity: 0;
    -webkit-transform: scale(0) translateZ(0);
            transform: scale(0) translateZ(0);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-moz-keyframes fadeInZoom {
  0% {
    opacity: 0;
    transform: scale(0) translateZ(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@-o-keyframes fadeInZoom {
  0% {
    opacity: 0;
    transform: scale(0) translateZ(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeInZoom {
  0% {
    opacity: 0;
    -webkit-transform: scale(0) translateZ(0);
        -ms-transform: scale(0) translateZ(0);
            transform: scale(0) translateZ(0);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes fadeInZoomBig {
  0% {
    opacity: 0;
    -webkit-transform: scale(0) translateZ(0);
            transform: scale(0) translateZ(0);
  }

  60% {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }

  80% {
    -webkit-transform: scale(.95);
            transform: scale(.95);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-moz-keyframes fadeInZoomBig {
  0% {
    opacity: 0;
    transform: scale(0) translateZ(0);
  }

  60% {
    transform: scale(1.25);
  }

  80% {
    transform: scale(.95);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@-o-keyframes fadeInZoomBig {
  0% {
    opacity: 0;
    transform: scale(0) translateZ(0);
  }

  60% {
    transform: scale(1.25);
  }

  80% {
    transform: scale(.95);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeInZoomBig {
  0% {
    opacity: 0;
    -webkit-transform: scale(0) translateZ(0);
        -ms-transform: scale(0) translateZ(0);
            transform: scale(0) translateZ(0);
  }

  60% {
    -webkit-transform: scale(1.25);
        -ms-transform: scale(1.25);
            transform: scale(1.25);
  }

  80% {
    -webkit-transform: scale(.95);
        -ms-transform: scale(.95);
            transform: scale(.95);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes slideInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-13.34em) translateZ(0);
            transform: translateX(-13.34em) translateZ(0);
  }

  65% {
    opacity: 1;
    -webkit-transform: translateX(1.334em);
            transform: translateX(1.334em);
  }

  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-moz-keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-13.34em) translateZ(0);
  }

  65% {
    opacity: 1;
    transform: translateX(1.334em);
  }

  100% {
    transform: translateX(0);
  }
}

@-o-keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-13.34em) translateZ(0);
  }

  65% {
    opacity: 1;
    transform: translateX(1.334em);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-13.34em) translateZ(0);
        -ms-transform: translateX(-13.34em) translateZ(0);
            transform: translateX(-13.34em) translateZ(0);
  }

  65% {
    opacity: 1;
    -webkit-transform: translateX(1.334em);
        -ms-transform: translateX(1.334em);
            transform: translateX(1.334em);
  }

  100% {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes slideInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(13.34em) translateZ(0);
            transform: translateX(13.34em) translateZ(0);
  }

  65% {
    opacity: 1;
    -webkit-transform: translateX(-1.334em);
            transform: translateX(-1.334em);
  }

  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-moz-keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(13.34em) translateZ(0);
  }

  65% {
    opacity: 1;
    transform: translateX(-1.334em);
  }

  100% {
    transform: translateX(0);
  }
}

@-o-keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(13.34em) translateZ(0);
  }

  65% {
    opacity: 1;
    transform: translateX(-1.334em);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(13.34em) translateZ(0);
        -ms-transform: translateX(13.34em) translateZ(0);
            transform: translateX(13.34em) translateZ(0);
  }

  65% {
    opacity: 1;
    -webkit-transform: translateX(-1.334em);
        -ms-transform: translateX(-1.334em);
            transform: translateX(-1.334em);
  }

  100% {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes dropIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10em) rotate(0) translateZ(0);
            transform: translateY(-10em) rotate(0) translateZ(0);
  }

  10% {
    -webkit-transform: translateY(-10em) rotate(-40deg);
            transform: translateY(-10em) rotate(-40deg);
  }

  90% {
    opacity: 1;
  }

  100% {
    -webkit-transform: translateY(0) rotate(0);
            transform: translateY(0) rotate(0);
  }
}

@-moz-keyframes dropIn {
  0% {
    opacity: 0;
    transform: translateY(-10em) rotate(0) translateZ(0);
  }

  10% {
    transform: translateY(-10em) rotate(-40deg);
  }

  90% {
    opacity: 1;
  }

  100% {
    transform: translateY(0) rotate(0);
  }
}

@-o-keyframes dropIn {
  0% {
    opacity: 0;
    transform: translateY(-10em) rotate(0) translateZ(0);
  }

  10% {
    transform: translateY(-10em) rotate(-40deg);
  }

  90% {
    opacity: 1;
  }

  100% {
    transform: translateY(0) rotate(0);
  }
}

@keyframes dropIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10em) rotate(0) translateZ(0);
        -ms-transform: translateY(-10em) rotate(0) translateZ(0);
            transform: translateY(-10em) rotate(0) translateZ(0);
  }

  10% {
    -webkit-transform: translateY(-10em) rotate(-40deg);
        -ms-transform: translateY(-10em) rotate(-40deg);
            transform: translateY(-10em) rotate(-40deg);
  }

  90% {
    opacity: 1;
  }

  100% {
    -webkit-transform: translateY(0) rotate(0);
        -ms-transform: translateY(0) rotate(0);
            transform: translateY(0) rotate(0);
  }
}

@-webkit-keyframes riseIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10em) translateZ(0);
            transform: translateY(10em) translateZ(0);
  }

  50% {
    opacity: 1;
  }
}

@-moz-keyframes riseIn {
  0% {
    opacity: 0;
    transform: translateY(10em) translateZ(0);
  }

  50% {
    opacity: 1;
  }
}

@-o-keyframes riseIn {
  0% {
    opacity: 0;
    transform: translateY(10em) translateZ(0);
  }

  50% {
    opacity: 1;
  }
}

@keyframes riseIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10em) translateZ(0);
        -ms-transform: translateY(10em) translateZ(0);
            transform: translateY(10em) translateZ(0);
  }

  50% {
    opacity: 1;
  }
}

@-webkit-keyframes popIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(.25) translateZ(0);
            transform: scale(.25) translateZ(0);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-moz-keyframes popIn {
  0% {
    opacity: 0;
    transform: scale(.25) translateZ(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@-o-keyframes popIn {
  0% {
    opacity: 0;
    transform: scale(.25) translateZ(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes popIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(.25) translateZ(0);
        -ms-transform: scale(.25) translateZ(0);
            transform: scale(.25) translateZ(0);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes turnDownIn {
  0% {
    opacity: 0;
    -webkit-transform: perspective(500px) rotateX(-225deg) translateZ(150px);
            transform: perspective(500px) rotateX(-225deg) translateZ(150px);
  }

  100% {
    opacity: 1;
    -webkit-transform: perspective(800px) rotateX(0deg) translateZ(0);
            transform: perspective(800px) rotateX(0deg) translateZ(0);

    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
            backface-visibility: hidden;
  }
}

@-moz-keyframes turnDownIn {
  0% {
    opacity: 0;
    transform: perspective(500px) rotateX(-225deg) translateZ(150px);
  }

  100% {
    opacity: 1;
    transform: perspective(800px) rotateX(0deg) translateZ(0);

    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
            backface-visibility: hidden;
  }
}

@-o-keyframes turnDownIn {
  0% {
    opacity: 0;
    transform: perspective(500px) rotateX(-225deg) translateZ(150px);
  }

  100% {
    opacity: 1;
    transform: perspective(800px) rotateX(0deg) translateZ(0);

    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
            backface-visibility: hidden;
  }
}

@keyframes turnDownIn {
  0% {
    opacity: 0;
    -webkit-transform: perspective(500px) rotateX(-225deg) translateZ(150px);
        -ms-transform: perspective(500px) rotateX(-225deg) translateZ(150px);
            transform: perspective(500px) rotateX(-225deg) translateZ(150px);
  }

  100% {
    opacity: 1;
    -webkit-transform: perspective(800px) rotateX(0deg) translateZ(0);
        -ms-transform: perspective(800px) rotateX(0deg) translateZ(0);
            transform: perspective(800px) rotateX(0deg) translateZ(0);

    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
            backface-visibility: hidden;
  }
}

@-webkit-keyframes turnUpIn {
  0% {
    opacity: 0;
    -webkit-transform: perspective(500px) rotateX(225deg) translateZ(150px);
            transform: perspective(500px) rotateX(225deg) translateZ(150px);
  }

  100% {
    opacity: 1;
    -webkit-transform: perspective(800px) rotateX(0deg) translateZ(0);
            transform: perspective(800px) rotateX(0deg) translateZ(0);

    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
            backface-visibility: hidden;
  }
}

@-moz-keyframes turnUpIn {
  0% {
    opacity: 0;
    transform: perspective(500px) rotateX(225deg) translateZ(150px);
  }

  100% {
    opacity: 1;
    transform: perspective(800px) rotateX(0deg) translateZ(0);

    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
            backface-visibility: hidden;
  }
}

@-o-keyframes turnUpIn {
  0% {
    opacity: 0;
    transform: perspective(500px) rotateX(225deg) translateZ(150px);
  }

  100% {
    opacity: 1;
    transform: perspective(800px) rotateX(0deg) translateZ(0);

    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
            backface-visibility: hidden;
  }
}

@keyframes turnUpIn {
  0% {
    opacity: 0;
    -webkit-transform: perspective(500px) rotateX(225deg) translateZ(150px);
        -ms-transform: perspective(500px) rotateX(225deg) translateZ(150px);
            transform: perspective(500px) rotateX(225deg) translateZ(150px);
  }

  100% {
    opacity: 1;
    -webkit-transform: perspective(800px) rotateX(0deg) translateZ(0);
        -ms-transform: perspective(800px) rotateX(0deg) translateZ(0);
            transform: perspective(800px) rotateX(0deg) translateZ(0);

    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
            backface-visibility: hidden;
  }
}

@-webkit-keyframes stretch {
  0% {
    -webkit-transform: scaleY(0) translateZ(0);
            transform: scaleY(0) translateZ(0);
  }

  40% {
    -webkit-transform: scaleY(1.05);
            transform: scaleY(1.05);
  }

  60% {
    -webkit-transform: scaleY(.97125);
            transform: scaleY(.97125);
  }

  80% {
    -webkit-transform: scaleY(1.05);
            transform: scaleY(1.05);
  }

  100% {
    -webkit-transform: scaleY(.97125);
            transform: scaleY(.97125);
  }

  80% {
    -webkit-transform: scaleY(1.02375);
            transform: scaleY(1.02375);
  }

  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@-moz-keyframes stretch {
  0% {
    transform: scaleY(0) translateZ(0);
  }

  40% {
    transform: scaleY(1.05);
  }

  60% {
    transform: scaleY(.97125);
  }

  80% {
    transform: scaleY(1.05);
  }

  100% {
    transform: scaleY(.97125);
  }

  80% {
    transform: scaleY(1.02375);
  }

  100% {
    transform: scaleY(1);
  }
}

@-o-keyframes stretch {
  0% {
    transform: scaleY(0) translateZ(0);
  }

  40% {
    transform: scaleY(1.05);
  }

  60% {
    transform: scaleY(.97125);
  }

  80% {
    transform: scaleY(1.05);
  }

  100% {
    transform: scaleY(.97125);
  }

  80% {
    transform: scaleY(1.02375);
  }

  100% {
    transform: scaleY(1);
  }
}

@keyframes stretch {
  0% {
    -webkit-transform: scaleY(0) translateZ(0);
        -ms-transform: scaleY(0) translateZ(0);
            transform: scaleY(0) translateZ(0);
  }

  40% {
    -webkit-transform: scaleY(1.05);
        -ms-transform: scaleY(1.05);
            transform: scaleY(1.05);
  }

  60% {
    -webkit-transform: scaleY(.97125);
        -ms-transform: scaleY(.97125);
            transform: scaleY(.97125);
  }

  80% {
    -webkit-transform: scaleY(1.05);
        -ms-transform: scaleY(1.05);
            transform: scaleY(1.05);
  }

  100% {
    -webkit-transform: scaleY(.97125);
        -ms-transform: scaleY(.97125);
            transform: scaleY(.97125);
  }

  80% {
    -webkit-transform: scaleY(1.02375);
        -ms-transform: scaleY(1.02375);
            transform: scaleY(1.02375);
  }

  100% {
    -webkit-transform: scaleY(1);
        -ms-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@-webkit-keyframes newspaper {
  0% {
    opacity: 0;
    -webkit-transform: rotate(720deg) scale(.33) translateZ(0);
            transform: rotate(720deg) scale(.33) translateZ(0);
  }

  100% {
    opacity: 1;
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
  }
}

@-moz-keyframes newspaper {
  0% {
    opacity: 0;
    transform: rotate(720deg) scale(.33) translateZ(0);
  }

  100% {
    opacity: 1;
    transform: rotate(0deg) scale(1);
  }
}

@-o-keyframes newspaper {
  0% {
    opacity: 0;
    transform: rotate(720deg) scale(.33) translateZ(0);
  }

  100% {
    opacity: 1;
    transform: rotate(0deg) scale(1);
  }
}

@keyframes newspaper {
  0% {
    opacity: 0;
    -webkit-transform: rotate(720deg) scale(.33) translateZ(0);
        -ms-transform: rotate(720deg) scale(.33) translateZ(0);
            transform: rotate(720deg) scale(.33) translateZ(0);
  }

  100% {
    opacity: 1;
    -webkit-transform: rotate(0deg) scale(1);
        -ms-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }

  100% {
    opacity: 0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateZ(0);
  }

  100% {
    opacity: 0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateZ(0);
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    -webkit-transform: translateZ(0);
        -ms-transform: translateZ(0);
            transform: translateZ(0);
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeOutDown {
  0% {
    opacity: 1;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(1.334em);
            transform: translateY(1.334em);
  }
}

@-moz-keyframes fadeOutDown {
  0% {
    opacity: 1;
    transform: translateZ(0);
  }

  100% {
    opacity: 0;
    transform: translateY(1.334em);
  }
}

@-o-keyframes fadeOutDown {
  0% {
    opacity: 1;
    transform: translateZ(0);
  }

  100% {
    opacity: 0;
    transform: translateY(1.334em);
  }
}

@keyframes fadeOutDown {
  0% {
    opacity: 1;
    -webkit-transform: translateZ(0);
        -ms-transform: translateZ(0);
            transform: translateZ(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(1.334em);
        -ms-transform: translateY(1.334em);
            transform: translateY(1.334em);
  }
}

@-webkit-keyframes fadeOutUp {
  0% {
    opacity: 1;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(-1.334em);
            transform: translateY(-1.334em);
  }
}

@-moz-keyframes fadeOutUp {
  0% {
    opacity: 1;
    transform: translateZ(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-1.334em);
  }
}

@-o-keyframes fadeOutUp {
  0% {
    opacity: 1;
    transform: translateZ(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-1.334em);
  }
}

@keyframes fadeOutUp {
  0% {
    opacity: 1;
    -webkit-transform: translateZ(0);
        -ms-transform: translateZ(0);
            transform: translateZ(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(-1.334em);
        -ms-transform: translateY(-1.334em);
            transform: translateY(-1.334em);
  }
}

@-webkit-keyframes fadeOutLeft {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translateX(-1.334em) translateZ(0);
            transform: translateX(-1.334em) translateZ(0);
  }
}

@-moz-keyframes fadeOutLeft {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateX(-1.334em) translateZ(0);
  }
}

@-o-keyframes fadeOutLeft {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateX(-1.334em) translateZ(0);
  }
}

@keyframes fadeOutLeft {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translateX(-1.334em) translateZ(0);
        -ms-transform: translateX(-1.334em) translateZ(0);
            transform: translateX(-1.334em) translateZ(0);
  }
}

@-webkit-keyframes fadeOutRight {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translateX(1.334em) translateZ(0);
            transform: translateX(1.334em) translateZ(0);
  }
}

@-moz-keyframes fadeOutRight {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateX(1.334em) translateZ(0);
  }
}

@-o-keyframes fadeOutRight {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateX(1.334em) translateZ(0);
  }
}

@keyframes fadeOutRight {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translateX(1.334em) translateZ(0);
        -ms-transform: translateX(1.334em) translateZ(0);
            transform: translateX(1.334em) translateZ(0);
  }
}

@-webkit-keyframes fadeOutZoom {
  0% {
    opacity: 1;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@-moz-keyframes fadeOutZoom {
  0% {
    opacity: 1;
    transform: translateZ(0);
  }

  100% {
    opacity: 0;
    transform: scale(0);
  }
}

@-o-keyframes fadeOutZoom {
  0% {
    opacity: 1;
    transform: translateZ(0);
  }

  100% {
    opacity: 0;
    transform: scale(0);
  }
}

@keyframes fadeOutZoom {
  0% {
    opacity: 1;
    -webkit-transform: translateZ(0);
        -ms-transform: translateZ(0);
            transform: translateZ(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }
}

@-webkit-keyframes fadeOutZoomBig {
  0% {
    -webkit-transform: scale(1) translateZ(0);
            transform: scale(1) translateZ(0);
  }

  40% {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }

  60% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@-moz-keyframes fadeOutZoomBig {
  0% {
    transform: scale(1) translateZ(0);
  }

  40% {
    transform: scale(1.25);
  }

  60% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: scale(0);
  }
}

@-o-keyframes fadeOutZoomBig {
  0% {
    transform: scale(1) translateZ(0);
  }

  40% {
    transform: scale(1.25);
  }

  60% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: scale(0);
  }
}

@keyframes fadeOutZoomBig {
  0% {
    -webkit-transform: scale(1) translateZ(0);
        -ms-transform: scale(1) translateZ(0);
            transform: scale(1) translateZ(0);
  }

  40% {
    -webkit-transform: scale(1.25);
        -ms-transform: scale(1.25);
            transform: scale(1.25);
  }

  60% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }
}

@-webkit-keyframes slideOutLeft {
  35% {
    opacity: 1;
    -webkit-transform: translateX(1.334em) translateZ(0);
            transform: translateX(1.334em) translateZ(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateX(-13.34em);
            transform: translateX(-13.34em);
  }
}

@-moz-keyframes slideOutLeft {
  35% {
    opacity: 1;
    transform: translateX(1.334em) translateZ(0);
  }

  100% {
    opacity: 0;
    transform: translateX(-13.34em);
  }
}

@-o-keyframes slideOutLeft {
  35% {
    opacity: 1;
    transform: translateX(1.334em) translateZ(0);
  }

  100% {
    opacity: 0;
    transform: translateX(-13.34em);
  }
}

@keyframes slideOutLeft {
  35% {
    opacity: 1;
    -webkit-transform: translateX(1.334em) translateZ(0);
        -ms-transform: translateX(1.334em) translateZ(0);
            transform: translateX(1.334em) translateZ(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateX(-13.34em);
        -ms-transform: translateX(-13.34em);
            transform: translateX(-13.34em);
  }
}

@-webkit-keyframes slideOutRight {
  35% {
    opacity: 1;
    -webkit-transform: translateX(-1.334em) translateZ(0);
            transform: translateX(-1.334em) translateZ(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateX(13.34em);
            transform: translateX(13.34em);
  }
}

@-moz-keyframes slideOutRight {
  35% {
    opacity: 1;
    transform: translateX(-1.334em) translateZ(0);
  }

  100% {
    opacity: 0;
    transform: translateX(13.34em);
  }
}

@-o-keyframes slideOutRight {
  35% {
    opacity: 1;
    transform: translateX(-1.334em) translateZ(0);
  }

  100% {
    opacity: 0;
    transform: translateX(13.34em);
  }
}

@keyframes slideOutRight {
  35% {
    opacity: 1;
    -webkit-transform: translateX(-1.334em) translateZ(0);
        -ms-transform: translateX(-1.334em) translateZ(0);
            transform: translateX(-1.334em) translateZ(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateX(13.34em);
        -ms-transform: translateX(13.34em);
            transform: translateX(13.34em);
  }
}

@-webkit-keyframes explode {
  0% {
    opacity: 1;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(5);
            transform: scale(5);
  }
}

@-moz-keyframes explode {
  0% {
    opacity: 1;
    transform: translateZ(0);
  }

  100% {
    opacity: 0;
    transform: scale(5);
  }
}

@-o-keyframes explode {
  0% {
    opacity: 1;
    transform: translateZ(0);
  }

  100% {
    opacity: 0;
    transform: scale(5);
  }
}

@keyframes explode {
  0% {
    opacity: 1;
    -webkit-transform: translateZ(0);
        -ms-transform: translateZ(0);
            transform: translateZ(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(5);
        -ms-transform: scale(5);
            transform: scale(5);
  }
}

@-webkit-keyframes dropOut {
  0% {
    opacity: 1;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(10em) rotate(-40deg);
            transform: translateY(10em) rotate(-40deg);
  }
}

@-moz-keyframes dropOut {
  0% {
    opacity: 1;
    transform: translateZ(0);
  }

  100% {
    opacity: 0;
    transform: translateY(10em) rotate(-40deg);
  }
}

@-o-keyframes dropOut {
  0% {
    opacity: 1;
    transform: translateZ(0);
  }

  100% {
    opacity: 0;
    transform: translateY(10em) rotate(-40deg);
  }
}

@keyframes dropOut {
  0% {
    opacity: 1;
    -webkit-transform: translateZ(0);
        -ms-transform: translateZ(0);
            transform: translateZ(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(10em) rotate(-40deg);
        -ms-transform: translateY(10em) rotate(-40deg);
            transform: translateY(10em) rotate(-40deg);
  }
}

@-webkit-keyframes riseOut {
  0% {
    opacity: 1;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(-10em);
            transform: translateY(-10em);
  }
}

@-moz-keyframes riseOut {
  0% {
    opacity: 1;
    transform: translateZ(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-10em);
  }
}

@-o-keyframes riseOut {
  0% {
    opacity: 1;
    transform: translateZ(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-10em);
  }
}

@keyframes riseOut {
  0% {
    opacity: 1;
    -webkit-transform: translateZ(0);
        -ms-transform: translateZ(0);
            transform: translateZ(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(-10em);
        -ms-transform: translateY(-10em);
            transform: translateY(-10em);
  }
}

@-webkit-keyframes poof {
  0% {
    opacity: 1;
    -webkit-transform: scale(1) translateZ(0);
            transform: scale(1) translateZ(0);

    -webkit-filter: blur(0px);
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(2);
            transform: scale(2);

    -webkit-filter: blur(40px);
  }
}

@-moz-keyframes poof {
  0% {
    opacity: 1;
    transform: scale(1) translateZ(0);

    -webkit-filter: blur(0px);
  }

  100% {
    opacity: 0;
    transform: scale(2);

    -webkit-filter: blur(40px);
  }
}

@-o-keyframes poof {
  0% {
    opacity: 1;
    transform: scale(1) translateZ(0);

    -webkit-filter: blur(0px);
  }

  100% {
    opacity: 0;
    transform: scale(2);

    -webkit-filter: blur(40px);
  }
}

@keyframes poof {
  0% {
    opacity: 1;
    -webkit-transform: scale(1) translateZ(0);
        -ms-transform: scale(1) translateZ(0);
            transform: scale(1) translateZ(0);

    -webkit-filter: blur(0px);
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(2);
        -ms-transform: scale(2);
            transform: scale(2);

    -webkit-filter: blur(40px);
  }
}

@-webkit-keyframes turnOutDown {
  0% {
    opacity: 1;
    -webkit-transform: perspective(800px) rotateX(0deg) translateZ(0);
            transform: perspective(800px) rotateX(0deg) translateZ(0);

    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
  }

  100% {
    opacity: 0;
    -webkit-transform: perspective(500px) rotateX(-225deg) translateZ(150px);
            transform: perspective(500px) rotateX(-225deg) translateZ(150px);
  }
}

@-moz-keyframes turnOutDown {
  0% {
    opacity: 1;
    transform: perspective(800px) rotateX(0deg) translateZ(0);

    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
  }

  100% {
    opacity: 0;
    transform: perspective(500px) rotateX(-225deg) translateZ(150px);
  }
}

@-o-keyframes turnOutDown {
  0% {
    opacity: 1;
    transform: perspective(800px) rotateX(0deg) translateZ(0);

    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
  }

  100% {
    opacity: 0;
    transform: perspective(500px) rotateX(-225deg) translateZ(150px);
  }
}

@keyframes turnOutDown {
  0% {
    opacity: 1;
    -webkit-transform: perspective(800px) rotateX(0deg) translateZ(0);
        -ms-transform: perspective(800px) rotateX(0deg) translateZ(0);
            transform: perspective(800px) rotateX(0deg) translateZ(0);

    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
  }

  100% {
    opacity: 0;
    -webkit-transform: perspective(500px) rotateX(-225deg) translateZ(150px);
        -ms-transform: perspective(500px) rotateX(-225deg) translateZ(150px);
            transform: perspective(500px) rotateX(-225deg) translateZ(150px);
  }
}

@-webkit-keyframes turnOutUp {
  0% {
    opacity: 1;
    -webkit-transform: perspective(800px) rotateX(0deg) translateZ(0);
            transform: perspective(800px) rotateX(0deg) translateZ(0);

    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
  }

  100% {
    opacity: 0;
    -webkit-transform: perspective(500px) rotateX(225deg) translateZ(150px);
            transform: perspective(500px) rotateX(225deg) translateZ(150px);
  }
}

@-moz-keyframes turnOutUp {
  0% {
    opacity: 1;
    transform: perspective(800px) rotateX(0deg) translateZ(0);

    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
  }

  100% {
    opacity: 0;
    transform: perspective(500px) rotateX(225deg) translateZ(150px);
  }
}

@-o-keyframes turnOutUp {
  0% {
    opacity: 1;
    transform: perspective(800px) rotateX(0deg) translateZ(0);

    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
  }

  100% {
    opacity: 0;
    transform: perspective(500px) rotateX(225deg) translateZ(150px);
  }
}

@keyframes turnOutUp {
  0% {
    opacity: 1;
    -webkit-transform: perspective(800px) rotateX(0deg) translateZ(0);
        -ms-transform: perspective(800px) rotateX(0deg) translateZ(0);
            transform: perspective(800px) rotateX(0deg) translateZ(0);

    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
  }

  100% {
    opacity: 0;
    -webkit-transform: perspective(500px) rotateX(225deg) translateZ(150px);
        -ms-transform: perspective(500px) rotateX(225deg) translateZ(150px);
            transform: perspective(500px) rotateX(225deg) translateZ(150px);
  }
}

@-webkit-keyframes compress {
  0% {
    -webkit-transform: scaleY(1) translateZ(0);
            transform: scaleY(1) translateZ(0);
  }

  30% {
    -webkit-transform: scaleY(1.05);
            transform: scaleY(1.05);
  }

  50% {
    -webkit-transform: scaleY(.97125);
            transform: scaleY(.97125);
  }

  100% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
}

@-moz-keyframes compress {
  0% {
    transform: scaleY(1) translateZ(0);
  }

  30% {
    transform: scaleY(1.05);
  }

  50% {
    transform: scaleY(.97125);
  }

  100% {
    transform: scaleY(0);
  }
}

@-o-keyframes compress {
  0% {
    transform: scaleY(1) translateZ(0);
  }

  30% {
    transform: scaleY(1.05);
  }

  50% {
    transform: scaleY(.97125);
  }

  100% {
    transform: scaleY(0);
  }
}

@keyframes compress {
  0% {
    -webkit-transform: scaleY(1) translateZ(0);
        -ms-transform: scaleY(1) translateZ(0);
            transform: scaleY(1) translateZ(0);
  }

  30% {
    -webkit-transform: scaleY(1.05);
        -ms-transform: scaleY(1.05);
            transform: scaleY(1.05);
  }

  50% {
    -webkit-transform: scaleY(.97125);
        -ms-transform: scaleY(.97125);
            transform: scaleY(.97125);
  }

  100% {
    -webkit-transform: scaleY(0);
        -ms-transform: scaleY(0);
            transform: scaleY(0);
  }
}

@-webkit-keyframes float {
  0%, 50%, 100% {
    -webkit-transform: translateY(-.25em) translateZ(0);
            transform: translateY(-.25em) translateZ(0);
  }

  25% {
    -webkit-transform: translateY(.25em) rotate(1deg);
            transform: translateY(.25em) rotate(1deg);
  }

  75% {
    -webkit-transform: translateY(.25em) rotate(-1deg);
            transform: translateY(.25em) rotate(-1deg);
  }
}

@-moz-keyframes float {
  0%, 50%, 100% {
    transform: translateY(-.25em) translateZ(0);
  }

  25% {
    transform: translateY(.25em) rotate(1deg);
  }

  75% {
    transform: translateY(.25em) rotate(-1deg);
  }
}

@-o-keyframes float {
  0%, 50%, 100% {
    transform: translateY(-.25em) translateZ(0);
  }

  25% {
    transform: translateY(.25em) rotate(1deg);
  }

  75% {
    transform: translateY(.25em) rotate(-1deg);
  }
}

@keyframes float {
  0%, 50%, 100% {
    -webkit-transform: translateY(-.25em) translateZ(0);
        -ms-transform: translateY(-.25em) translateZ(0);
            transform: translateY(-.25em) translateZ(0);
  }

  25% {
    -webkit-transform: translateY(.25em) rotate(1deg);
        -ms-transform: translateY(.25em) rotate(1deg);
            transform: translateY(.25em) rotate(1deg);
  }

  75% {
    -webkit-transform: translateY(.25em) rotate(-1deg);
        -ms-transform: translateY(.25em) rotate(-1deg);
            transform: translateY(.25em) rotate(-1deg);
  }
}

@-webkit-keyframes shake {
  0%, 100% {
    -webkit-transform: translateX(0) translateZ(0);
            transform: translateX(0) translateZ(0);
  }

  15% {
    -webkit-transform: translateX(.55em);
            transform: translateX(.55em);
  }

  35% {
    -webkit-transform: translateX(-.55em);
            transform: translateX(-.55em);
  }

  50% {
    -webkit-transform: translateX(.275em);
            transform: translateX(.275em);
  }

  65% {
    -webkit-transform: translateX(-.275em);
            transform: translateX(-.275em);
  }

  85% {
    -webkit-transform: translateX(.18333em);
            transform: translateX(.18333em);
  }
}

@-moz-keyframes shake {
  0%, 100% {
    transform: translateX(0) translateZ(0);
  }

  15% {
    transform: translateX(.55em);
  }

  35% {
    transform: translateX(-.55em);
  }

  50% {
    transform: translateX(.275em);
  }

  65% {
    transform: translateX(-.275em);
  }

  85% {
    transform: translateX(.18333em);
  }
}

@-o-keyframes shake {
  0%, 100% {
    transform: translateX(0) translateZ(0);
  }

  15% {
    transform: translateX(.55em);
  }

  35% {
    transform: translateX(-.55em);
  }

  50% {
    transform: translateX(.275em);
  }

  65% {
    transform: translateX(-.275em);
  }

  85% {
    transform: translateX(.18333em);
  }
}

@keyframes shake {
  0%, 100% {
    -webkit-transform: translateX(0) translateZ(0);
        -ms-transform: translateX(0) translateZ(0);
            transform: translateX(0) translateZ(0);
  }

  15% {
    -webkit-transform: translateX(.55em);
        -ms-transform: translateX(.55em);
            transform: translateX(.55em);
  }

  35% {
    -webkit-transform: translateX(-.55em);
        -ms-transform: translateX(-.55em);
            transform: translateX(-.55em);
  }

  50% {
    -webkit-transform: translateX(.275em);
        -ms-transform: translateX(.275em);
            transform: translateX(.275em);
  }

  65% {
    -webkit-transform: translateX(-.275em);
        -ms-transform: translateX(-.275em);
            transform: translateX(-.275em);
  }

  85% {
    -webkit-transform: translateX(.18333em);
        -ms-transform: translateX(.18333em);
            transform: translateX(.18333em);
  }
}

@-webkit-keyframes teeter {
  0%, 100% {
    -webkit-transform: rotate(0deg) translateZ(0);
            transform: rotate(0deg) translateZ(0);
  }

  15% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }

  30% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }

  45% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }

  60% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }

  73% {
    -webkit-transform: rotate(3.33333deg);
            transform: rotate(3.33333deg);
  }

  86% {
    -webkit-transform: rotate(-3.33333deg);
            transform: rotate(-3.33333deg);
  }
}

@-moz-keyframes teeter {
  0%, 100% {
    transform: rotate(0deg) translateZ(0);
  }

  15% {
    transform: rotate(10deg);
  }

  30% {
    transform: rotate(-10deg);
  }

  45% {
    transform: rotate(5deg);
  }

  60% {
    transform: rotate(-5deg);
  }

  73% {
    transform: rotate(3.33333deg);
  }

  86% {
    transform: rotate(-3.33333deg);
  }
}

@-o-keyframes teeter {
  0%, 100% {
    transform: rotate(0deg) translateZ(0);
  }

  15% {
    transform: rotate(10deg);
  }

  30% {
    transform: rotate(-10deg);
  }

  45% {
    transform: rotate(5deg);
  }

  60% {
    transform: rotate(-5deg);
  }

  73% {
    transform: rotate(3.33333deg);
  }

  86% {
    transform: rotate(-3.33333deg);
  }
}

@keyframes teeter {
  0%, 100% {
    -webkit-transform: rotate(0deg) translateZ(0);
        -ms-transform: rotate(0deg) translateZ(0);
            transform: rotate(0deg) translateZ(0);
  }

  15% {
    -webkit-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
            transform: rotate(10deg);
  }

  30% {
    -webkit-transform: rotate(-10deg);
        -ms-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }

  45% {
    -webkit-transform: rotate(5deg);
        -ms-transform: rotate(5deg);
            transform: rotate(5deg);
  }

  60% {
    -webkit-transform: rotate(-5deg);
        -ms-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }

  73% {
    -webkit-transform: rotate(3.33333deg);
        -ms-transform: rotate(3.33333deg);
            transform: rotate(3.33333deg);
  }

  86% {
    -webkit-transform: rotate(-3.33333deg);
        -ms-transform: rotate(-3.33333deg);
            transform: rotate(-3.33333deg);
  }
}

@-webkit-keyframes quiver {
  0% {
    -webkit-transform: translate3d(2px, 1px, 0) rotate(0deg);
            transform: translate3d(2px, 1px, 0) rotate(0deg);
  }

  10% {
    -webkit-transform: translate3d(-1px, 2px, 0) rotate(2deg);
            transform: translate3d(-1px, 2px, 0) rotate(2deg);
  }

  20% {
    -webkit-transform: translate3d(-3px, 0) rotate(-2deg);
            transform: translate3d(-3px, 0) rotate(-2deg);
  }

  30% {
    -webkit-transform: translate3d(0, 2px, 0) rotate(0deg);
            transform: translate3d(0, 2px, 0) rotate(0deg);
  }

  40% {
    -webkit-transform: translate3d(1px, -1px, 0) rotate(2deg);
            transform: translate3d(1px, -1px, 0) rotate(2deg);
  }

  50% {
    -webkit-transform: translate3d(-1px, 2px, 0) rotate(-2deg);
            transform: translate3d(-1px, 2px, 0) rotate(-2deg);
  }

  60% {
    -webkit-transform: translate3d(-3px, 1px, 0) rotate(0deg);
            transform: translate3d(-3px, 1px, 0) rotate(0deg);
  }

  70% {
    -webkit-transform: translate3d(2px, 1px, 0) rotate(2deg);
            transform: translate3d(2px, 1px, 0) rotate(2deg);
  }

  80% {
    -webkit-transform: translate3d(-1px, -1px, 0) rotate(-2deg);
            transform: translate3d(-1px, -1px, 0) rotate(-2deg);
  }

  90% {
    -webkit-transform: translate3d(2px, 2px, 0) rotate(0deg);
            transform: translate3d(2px, 2px, 0) rotate(0deg);
  }

  100% {
    -webkit-transform: translate3d(1px, -2px, 0) rotate(2deg);
            transform: translate3d(1px, -2px, 0) rotate(2deg);
  }
}

@-moz-keyframes quiver {
  0% {
    transform: translate3d(2px, 1px, 0) rotate(0deg);
  }

  10% {
    transform: translate3d(-1px, 2px, 0) rotate(2deg);
  }

  20% {
    transform: translate3d(-3px, 0) rotate(-2deg);
  }

  30% {
    transform: translate3d(0, 2px, 0) rotate(0deg);
  }

  40% {
    transform: translate3d(1px, -1px, 0) rotate(2deg);
  }

  50% {
    transform: translate3d(-1px, 2px, 0) rotate(-2deg);
  }

  60% {
    transform: translate3d(-3px, 1px, 0) rotate(0deg);
  }

  70% {
    transform: translate3d(2px, 1px, 0) rotate(2deg);
  }

  80% {
    transform: translate3d(-1px, -1px, 0) rotate(-2deg);
  }

  90% {
    transform: translate3d(2px, 2px, 0) rotate(0deg);
  }

  100% {
    transform: translate3d(1px, -2px, 0) rotate(2deg);
  }
}

@-o-keyframes quiver {
  0% {
    transform: translate3d(2px, 1px, 0) rotate(0deg);
  }

  10% {
    transform: translate3d(-1px, 2px, 0) rotate(2deg);
  }

  20% {
    transform: translate3d(-3px, 0) rotate(-2deg);
  }

  30% {
    transform: translate3d(0, 2px, 0) rotate(0deg);
  }

  40% {
    transform: translate3d(1px, -1px, 0) rotate(2deg);
  }

  50% {
    transform: translate3d(-1px, 2px, 0) rotate(-2deg);
  }

  60% {
    transform: translate3d(-3px, 1px, 0) rotate(0deg);
  }

  70% {
    transform: translate3d(2px, 1px, 0) rotate(2deg);
  }

  80% {
    transform: translate3d(-1px, -1px, 0) rotate(-2deg);
  }

  90% {
    transform: translate3d(2px, 2px, 0) rotate(0deg);
  }

  100% {
    transform: translate3d(1px, -2px, 0) rotate(2deg);
  }
}

@keyframes quiver {
  0% {
    -webkit-transform: translate3d(2px, 1px, 0) rotate(0deg);
        -ms-transform: translate3d(2px, 1px, 0) rotate(0deg);
            transform: translate3d(2px, 1px, 0) rotate(0deg);
  }

  10% {
    -webkit-transform: translate3d(-1px, 2px, 0) rotate(2deg);
        -ms-transform: translate3d(-1px, 2px, 0) rotate(2deg);
            transform: translate3d(-1px, 2px, 0) rotate(2deg);
  }

  20% {
    -webkit-transform: translate3d(-3px, 0) rotate(-2deg);
        -ms-transform: translate3d(-3px, 0) rotate(-2deg);
            transform: translate3d(-3px, 0) rotate(-2deg);
  }

  30% {
    -webkit-transform: translate3d(0, 2px, 0) rotate(0deg);
        -ms-transform: translate3d(0, 2px, 0) rotate(0deg);
            transform: translate3d(0, 2px, 0) rotate(0deg);
  }

  40% {
    -webkit-transform: translate3d(1px, -1px, 0) rotate(2deg);
        -ms-transform: translate3d(1px, -1px, 0) rotate(2deg);
            transform: translate3d(1px, -1px, 0) rotate(2deg);
  }

  50% {
    -webkit-transform: translate3d(-1px, 2px, 0) rotate(-2deg);
        -ms-transform: translate3d(-1px, 2px, 0) rotate(-2deg);
            transform: translate3d(-1px, 2px, 0) rotate(-2deg);
  }

  60% {
    -webkit-transform: translate3d(-3px, 1px, 0) rotate(0deg);
        -ms-transform: translate3d(-3px, 1px, 0) rotate(0deg);
            transform: translate3d(-3px, 1px, 0) rotate(0deg);
  }

  70% {
    -webkit-transform: translate3d(2px, 1px, 0) rotate(2deg);
        -ms-transform: translate3d(2px, 1px, 0) rotate(2deg);
            transform: translate3d(2px, 1px, 0) rotate(2deg);
  }

  80% {
    -webkit-transform: translate3d(-1px, -1px, 0) rotate(-2deg);
        -ms-transform: translate3d(-1px, -1px, 0) rotate(-2deg);
            transform: translate3d(-1px, -1px, 0) rotate(-2deg);
  }

  90% {
    -webkit-transform: translate3d(2px, 2px, 0) rotate(0deg);
        -ms-transform: translate3d(2px, 2px, 0) rotate(0deg);
            transform: translate3d(2px, 2px, 0) rotate(0deg);
  }

  100% {
    -webkit-transform: translate3d(1px, -2px, 0) rotate(2deg);
        -ms-transform: translate3d(1px, -2px, 0) rotate(2deg);
            transform: translate3d(1px, -2px, 0) rotate(2deg);
  }
}

@-webkit-keyframes sway {
  0%, 50%, 100% {
    -webkit-transform: rotate(3deg) translateZ(0);
            transform: rotate(3deg) translateZ(0);
  }

  25% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }

  75% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
}

@-moz-keyframes sway {
  0%, 50%, 100% {
    transform: rotate(3deg) translateZ(0);
  }

  25% {
    transform: rotate(-3deg);
  }

  75% {
    transform: rotate(-3deg);
  }
}

@-o-keyframes sway {
  0%, 50%, 100% {
    transform: rotate(3deg) translateZ(0);
  }

  25% {
    transform: rotate(-3deg);
  }

  75% {
    transform: rotate(-3deg);
  }
}

@keyframes sway {
  0%, 50%, 100% {
    -webkit-transform: rotate(3deg) translateZ(0);
        -ms-transform: rotate(3deg) translateZ(0);
            transform: rotate(3deg) translateZ(0);
  }

  25% {
    -webkit-transform: rotate(-3deg);
        -ms-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }

  75% {
    -webkit-transform: rotate(-3deg);
        -ms-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg) translateZ(0);
            transform: rotate(0deg) translateZ(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  0% {
    transform: rotate(0deg) translateZ(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@-o-keyframes spin {
  0% {
    transform: rotate(0deg) translateZ(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg) translateZ(0);
        -ms-transform: rotate(0deg) translateZ(0);
            transform: rotate(0deg) translateZ(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes bounce {
  0%, 85%, 100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1) translateZ(0);
            transform: translateY(0) scaleY(1) scaleX(1) translateZ(0);
  }

  25% {
    -webkit-transform: translateY(-1.35rem) scaleY(1.02) scaleX(.98);
            transform: translateY(-1.35rem) scaleY(1.02) scaleX(.98);
  }

  35% {
    -webkit-transform: translateY(0) scaleY(.98) scaleX(1.02);
            transform: translateY(0) scaleY(.98) scaleX(1.02);
  }

  50% {
    -webkit-transform: translateY(-1rem) scaleY(1.01) scaleX(.99);
            transform: translateY(-1rem) scaleY(1.01) scaleX(.99);
  }

  60% {
    -webkit-transform: translateY(0) scaleY(.99) scaleX(1.01);
            transform: translateY(0) scaleY(.99) scaleX(1.01);
  }

  75% {
    -webkit-transform: translateY(-.05rem);
            transform: translateY(-.05rem);
  }
}

@-moz-keyframes bounce {
  0%, 85%, 100% {
    transform: translateY(0) scaleY(1) scaleX(1) translateZ(0);
  }

  25% {
    transform: translateY(-1.35rem) scaleY(1.02) scaleX(.98);
  }

  35% {
    transform: translateY(0) scaleY(.98) scaleX(1.02);
  }

  50% {
    transform: translateY(-1rem) scaleY(1.01) scaleX(.99);
  }

  60% {
    transform: translateY(0) scaleY(.99) scaleX(1.01);
  }

  75% {
    transform: translateY(-.05rem);
  }
}

@-o-keyframes bounce {
  0%, 85%, 100% {
    transform: translateY(0) scaleY(1) scaleX(1) translateZ(0);
  }

  25% {
    transform: translateY(-1.35rem) scaleY(1.02) scaleX(.98);
  }

  35% {
    transform: translateY(0) scaleY(.98) scaleX(1.02);
  }

  50% {
    transform: translateY(-1rem) scaleY(1.01) scaleX(.99);
  }

  60% {
    transform: translateY(0) scaleY(.99) scaleX(1.01);
  }

  75% {
    transform: translateY(-.05rem);
  }
}

@keyframes bounce {
  0%, 85%, 100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1) translateZ(0);
        -ms-transform: translateY(0) scaleY(1) scaleX(1) translateZ(0);
            transform: translateY(0) scaleY(1) scaleX(1) translateZ(0);
  }

  25% {
    -webkit-transform: translateY(-1.35rem) scaleY(1.02) scaleX(.98);
        -ms-transform: translateY(-1.35rem) scaleY(1.02) scaleX(.98);
            transform: translateY(-1.35rem) scaleY(1.02) scaleX(.98);
  }

  35% {
    -webkit-transform: translateY(0) scaleY(.98) scaleX(1.02);
        -ms-transform: translateY(0) scaleY(.98) scaleX(1.02);
            transform: translateY(0) scaleY(.98) scaleX(1.02);
  }

  50% {
    -webkit-transform: translateY(-1rem) scaleY(1.01) scaleX(.99);
        -ms-transform: translateY(-1rem) scaleY(1.01) scaleX(.99);
            transform: translateY(-1rem) scaleY(1.01) scaleX(.99);
  }

  60% {
    -webkit-transform: translateY(0) scaleY(.99) scaleX(1.01);
        -ms-transform: translateY(0) scaleY(.99) scaleX(1.01);
            transform: translateY(0) scaleY(.99) scaleX(1.01);
  }

  75% {
    -webkit-transform: translateY(-.05rem);
        -ms-transform: translateY(-.05rem);
            transform: translateY(-.05rem);
  }
}

@-webkit-keyframes pulsate {
  0%, 100% {
    opacity: 1;
    -webkit-transform: scale(1) translateZ(0);
            transform: scale(1) translateZ(0);
  }

  50% {
    opacity: .85;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@-moz-keyframes pulsate {
  0%, 100% {
    opacity: 1;
    transform: scale(1) translateZ(0);
  }

  50% {
    opacity: .85;
    transform: scale(1.1);
  }
}

@-o-keyframes pulsate {
  0%, 100% {
    opacity: 1;
    transform: scale(1) translateZ(0);
  }

  50% {
    opacity: .85;
    transform: scale(1.1);
  }
}

@keyframes pulsate {
  0%, 100% {
    opacity: 1;
    -webkit-transform: scale(1) translateZ(0);
        -ms-transform: scale(1) translateZ(0);
            transform: scale(1) translateZ(0);
  }

  50% {
    opacity: .85;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@-webkit-keyframes aroundTheWorld {
  0% {
    -webkit-transform: rotate(0deg) translate3d(-5em, -5em, 0) rotate(0deg);
            transform: rotate(0deg) translate3d(-5em, -5em, 0) rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg) translate3d(-5em, -5em, 0) rotate(-360deg);
            transform: rotate(360deg) translate3d(-5em, -5em, 0) rotate(-360deg);
  }
}

@-moz-keyframes aroundTheWorld {
  0% {
    transform: rotate(0deg) translate3d(-5em, -5em, 0) rotate(0deg);
  }

  100% {
    transform: rotate(360deg) translate3d(-5em, -5em, 0) rotate(-360deg);
  }
}

@-o-keyframes aroundTheWorld {
  0% {
    transform: rotate(0deg) translate3d(-5em, -5em, 0) rotate(0deg);
  }

  100% {
    transform: rotate(360deg) translate3d(-5em, -5em, 0) rotate(-360deg);
  }
}

@keyframes aroundTheWorld {
  0% {
    -webkit-transform: rotate(0deg) translate3d(-5em, -5em, 0) rotate(0deg);
        -ms-transform: rotate(0deg) translate3d(-5em, -5em, 0) rotate(0deg);
            transform: rotate(0deg) translate3d(-5em, -5em, 0) rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg) translate3d(-5em, -5em, 0) rotate(-360deg);
        -ms-transform: rotate(360deg) translate3d(-5em, -5em, 0) rotate(-360deg);
            transform: rotate(360deg) translate3d(-5em, -5em, 0) rotate(-360deg);
  }
}

@-webkit-keyframes ping {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-moz-keyframes ping {
  0% {
    transform: scale(0);
  }

  100% {
    opacity: 0;
    transform: scale(1);
  }
}

@-o-keyframes ping {
  0% {
    transform: scale(0);
  }

  100% {
    opacity: 0;
    transform: scale(1);
  }
}

@keyframes ping {
  0% {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes squareDance {
  0%, 100% {
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }

  25% {
    -webkit-transform: translate3d(100%, 100%, 0);
            transform: translate3d(100%, 100%, 0);
  }

  50% {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }

  75% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@-moz-keyframes squareDance {
  0%, 100% {
    transform: translate3d(100%, 0, 0);
  }

  25% {
    transform: translate3d(100%, 100%, 0);
  }

  50% {
    transform: translate3d(0, 100%, 0);
  }

  75% {
    transform: translate3d(0, 0, 0);
  }
}

@-o-keyframes squareDance {
  0%, 100% {
    transform: translate3d(100%, 0, 0);
  }

  25% {
    transform: translate3d(100%, 100%, 0);
  }

  50% {
    transform: translate3d(0, 100%, 0);
  }

  75% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes squareDance {
  0%, 100% {
    -webkit-transform: translate3d(100%, 0, 0);
        -ms-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }

  25% {
    -webkit-transform: translate3d(100%, 100%, 0);
        -ms-transform: translate3d(100%, 100%, 0);
            transform: translate3d(100%, 100%, 0);
  }

  50% {
    -webkit-transform: translate3d(0, 100%, 0);
        -ms-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }

  75% {
    -webkit-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes sunrise {
  0% {
    -webkit-transform: rotate(0deg) translate(-15em) rotate(0deg);
            transform: rotate(0deg) translate(-15em) rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(180deg) translate(-15em) rotate(-180deg);
            transform: rotate(180deg) translate(-15em) rotate(-180deg);
  }
}

@-moz-keyframes sunrise {
  0% {
    transform: rotate(0deg) translate(-15em) rotate(0deg);
  }

  100% {
    transform: rotate(180deg) translate(-15em) rotate(-180deg);
  }
}

@-o-keyframes sunrise {
  0% {
    transform: rotate(0deg) translate(-15em) rotate(0deg);
  }

  100% {
    transform: rotate(180deg) translate(-15em) rotate(-180deg);
  }
}

@keyframes sunrise {
  0% {
    -webkit-transform: rotate(0deg) translate(-15em) rotate(0deg);
        -ms-transform: rotate(0deg) translate(-15em) rotate(0deg);
            transform: rotate(0deg) translate(-15em) rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(180deg) translate(-15em) rotate(-180deg);
        -ms-transform: rotate(180deg) translate(-15em) rotate(-180deg);
            transform: rotate(180deg) translate(-15em) rotate(-180deg);
  }
}
