@import "../saffron/saffron";

.box {
  height: 100px;
  width: 100px;
  margin: 0 auto;
  background: red;
  text-align: center;
  border-radius: 50%;
  padding-left: 0;
  @include color(black, white);
}
