@mixin enlarge($selector: ":hover", $duration: 0.5s, $delay: 0s, $timing: cubic-bezier(1.000, -0.600, 0.595, 0.835)) {
  @include transition(all $duration $delay $timing);
  &#{$selector} {
    @include transform(translateY($saf-enlarge-contract-jump * -1) scale($saf-enlarge-contract-multiple));
  }
}
