@include keyframes(fadeOutZoom) {
  0% {
    opacity: 1;
    @include transform(scale(1));
  }
  100% {
    opacity: 0;
    @include transform(scale(0));
  }
}

@mixin fadeOutZoom($duration: 1s, $delay: 0) {
  opacity: 1;
  @include animation(fadeOutZoom $duration $delay);
}
