@include keyframes(fadeOutDown) {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    @include transform(translateY($translateY-distance));
  }
}

@mixin fadeOutDown($duration: 1s, $delay: 0s, $fill-mode: forwards) {
  opacity: 1;
  @include animation(fadeOutDown $duration $delay $fill-mode);
}
