@include keyframes(turnDownIn) {
  0% {
    opacity: 0;
    @include transform(perspective(500px) rotateX($turn-angle * -1) translateZ(150px));
  }
  100% {
    opacity: 1;
    @include transform(perspective(800px) rotateX(0deg) translateZ(0px));
    @include prefix(backface-visibility, hidden, webkit moz spec);
  }
}

@mixin turnDownIn($duration: 1s, $delay: 0s, $fill-mode: forwards) {
  @include animation(turnDownIn $duration $delay $fill-mode);
}

@include keyframes(turnUpIn) {
  0% {
    opacity: 0;
    @include transform(perspective(500px) rotateX($turn-angle) translateZ(150px));
  }
  100% {
    opacity: 1;
    @include transform(perspective(800px) rotateX(0deg) translateZ(0px));
    @include prefix(backface-visibility, hidden, webkit moz spec);
  }
}

@mixin turnUpIn($duration: 1s, $delay: 0s, $fill-mode: forwards) {
  @include animation(turnUpIn $duration $delay $fill-mode);
}
