$prefixes: ("webkit", "moz", "o", "ms", "spec") !default;
$translateY-distance: 1.334em;
$translateX-distance: 1.334em;
$drop-rise-distance: 10em;
$shake-distance: 0.55em;
$teeter-angle: 10deg;
$quiver-angle: 2deg;
$float-bob-distance: 0.25em;
$float-bob-angle: 1deg;
$sway-angle: 3deg;
$turn-angle: 225deg;
$pulsate-scale: 1.1;
$stretch-compress-exageration: 1.05;
$distance-from-origin: 5em;
$sunrise-arch: -15em;
$enlarge-contract-multiple: 1.15;
$enlarge-contract-jump: 1em;
$flip-scale: 1.2;
